<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos CSS personalizados */
    .navbar {
      background-color: #444;
    }
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .navbar-brand img {
      height: 50px;
      margin-right: 10px;
    }
    .navbar-nav .nav-link {
      color: #fff;
    }
    .navbar-nav .nav-link:hover {
      color: #eee;
    }
  </style>



</head>

<body>
<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Librosmania">
      Librosmania
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/xd.html?_ijt=15s7qdbu2o75t580lkt96j7vm2&_ij_reload=RELOAD_ON_SAVE">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Categoria.html?_ijt=numfod698s3od8vlghk0vc5l53&_ij_reload=RELOAD_ON_SAVE">Categorías<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Contactanos.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Buscar</a>
        </li>


      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Historial de usuarios registrados</h3>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Correo electrónico</th>
          <th scope="col">Fecha de registro</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Juan Pérez</td>
          <td>juanperez@gmail.com</td>
          <td>2021-05-15</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>María González</td>
          <td>mariagonzalez@yahoo.com</td>
          <td>2021-06-20</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Pablo Ramírez</td>
          <td>pabloramirez@hotmail.com</td>
          <td>2021-08-01</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>