<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Categoría - Tecnología</title>
  <!-- Agrega aquí tus enlaces de CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    /* Estilos CSS personalizados */
    .navbar {
      background-color: #444;
    }
    .navbar-brand {
      font-size: 1.5rem;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .navbar-brand img {
      height: 50px;
      margin-right: 10px;
    }
    .navbar-nav .nav-link {
      color: #fff;
    }
    .navbar-nav .nav-link:hover {
      color: #eee;
    }
  </style>
</head>
<body>

<!-- Barra de navegación -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Librosmania">
      Librosmania
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/xd.html?_ijt=15s7qdbu2o75t580lkt96j7vm2&_ij_reload=RELOAD_ON_SAVE">Inicio</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Categoria.html?_ijt=numfod698s3od8vlghk0vc5l53&_ij_reload=RELOAD_ON_SAVE">Categorías<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Contactanos.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Admin.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Login.html?_ijt=numfod698s3od8vlghk0vc5l53&_ij_reload=RELOAD_ON_SAVE">Ingresar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container my-5">
  <h1 class="text-center mb-5">Tecnología</h1>
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="Libro1.jpg" class="card-img-top" alt="Libro 1">
        <div class="card-body">
          <h5 class="card-title">Libro 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo, dolor vel viverra ornare, tortor libero porta tellus, eu bibendum orci sem a eros.</p>
          <a href="#" class="btn btn-primary">Ver libro</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="Libro3.jpg" class="card-img-top" alt="Libro 1">
        <div class="card-body">
          <h5 class="card-title">Libro 2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo, dolor vel viverra ornare, tortor libero porta tellus, eu bibendum orci sem a eros.</p>
          <a href="#" class="btn btn-primary">Ver libro</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card">
        <img src="Libro2.jpg" class="card-img-top" alt="Libro 1">
        <div class="card-body">
          <h5 class="card-title">Libro 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec commodo, dolor vel viverra ornare, tortor libero porta tellus, eu bibendum orci sem a eros.</p>
          <a href="#" class="btn btn-primary">Ver libro</a>
        </div>
      </div>
    </div>
  </div>
</div>
    <!-- Agrega aquí tus scripts de Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</body>
</html>
