<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mi Librería</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('Libros.jpg');
      background-size: cover;
    }
    .navbar {
      background-color: #666;
      color: #fff;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:63342/ProyectoBiblioteca/target/templet/xd.html?_ijt=15s7qdbu2o75t580lkt96j7vm2&_ij_reload=RELOAD_ON_SAVE">
      <img src="logo.png" alt="Librosmania" width="80" height="auto">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/xd.html?_ijt=15s7qdbu2o75t580lkt96j7vm2&_ij_reload=RELOAD_ON_SAVE">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Categoria.html?_ijt=numfod698s3od8vlghk0vc5l53&_ij_reload=RELOAD_ON_SAVE">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Contactanos.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Admin.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Admin</a>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Iniciar Sesión</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="email">Correo electrónico:</label>
              <input type="email" class="form-control" id="email" placeholder="Ingrese su correo electrónico" >
            </div>
            <div class="form-group">
              <label for="password">Contraseña:</label>
              <input type="password" class="form-control" id="password" placeholder="Ingrese su contraseña" >
            </div>

            <button type="submit"  class="btn btn-primary btn-block">Ingresar</button>
            <hr>
            <p class="text-center">¿No tienes una cuenta? <a href="http://localhost:63342/ProyectoBiblioteca/target/templet/Registro.html?_ijt=6jciaepoit60qpoppddrmsd688&_ij_reload=RELOAD_ON_SAVE">Regístrate aquí</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>