<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Registro</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('Libros.jpg');
      background-size: cover;
    }
    .navbar {
      background-color: #666;
      color: #fff;
    }
  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="logo.png" alt="Librosmania" width="80" height="auto">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/xd.html?_ijt=15s7qdbu2o75t580lkt96j7vm2&_ij_reload=RELOAD_ON_SAVE">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Categoria.html?_ijt=numfod698s3od8vlghk0vc5l53&_ij_reload=RELOAD_ON_SAVE">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Contactanos.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Contactanos</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="#">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Admin.html?_ijt=9cnhhr3uric814s0iit4lrk36j&_ij_reload=RELOAD_ON_SAVE">Admin</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="http://localhost:63342/ProyectoBiblioteca/src/main/resources/templates/Login.html?_ijt=169iq1efv8krvson1kdls5vk55&_ij_reload=RELOAD_ON_SAVE">Ingresar<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <h2 class="text-center mb-5">Registro de Usuario</h2>
  <form>
    <div class="row mb-3">
      <label for="inputNombre" class="col-sm-2 col-form-label">Nombre</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputNombre">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputApellido" class="col-sm-2 col-form-label">Apellido</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputApellido">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword">
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-10 offset-sm-2">
        <button type="submit" class="btn btn-primary">Registrarse</button>
      </div>
    </div>
  </form>
</div>